body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #222;
}

p {
  color: #555;
}